In [1]:
#판다스를 이용한 Data 불러오기
import pandas as pd
df2 = pd.read_csv('imdb_master.csv',encoding="latin-1")
df2.head() ##데이터 형태 파악하기.

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt

In [2]:
print(df2.shape)
print(df2.head())
print(df2.columns)

(100000, 5)
   Unnamed: 0  type                                             review label  \
0           0  test  Once again Mr. Costner has dragged out a movie...   neg
1           1  test  This is an example of why the majority of acti...   neg
2           2  test  First of all I hate those moronic rappers, who...   neg
3           3  test  Not even the Beatles could write songs everyon...   neg
4           4  test  Brass pictures (movies is not a fitting word f...   neg

          file
0      0_2.txt
1  10000_4.txt
2  10001_1.txt
3  10002_3.txt
4  10003_3.txt
Index(['Unnamed: 0', 'type', 'review', 'label', 'file'], dtype='object')

In [3]:
df2['label'].unique() ## 부정, 긍정, unsupported가 존재. 따라서 unsupported는 제거.

array(['neg', 'pos', 'unsup'], dtype=object)

In [4]:
df2 = df2.drop(['Unnamed: 0','type','file'],axis=1) ##불필요 컬럼 Drop
df2.columns = ["review","sentiment"] ## '리뷰'와 '센티먼트'로 컬럼명변경
df2.head()

                                              review sentiment
0  Once again Mr. Costner has dragged out a movie...       neg
1  This is an example of why the majority of acti...       neg
2  First of all I hate those moronic rappers, who...       neg
3  Not even the Beatles could write songs everyon...       neg
4  Brass pictures (movies is not a fitting word f...       neg

In [5]:
df2 = df2[df2.sentiment != 'unsup']
df2['sentiment'] = df2['sentiment'].map({'pos': 1, 'neg': 0}) #긍정은1, 부정은0으로 값변경
df2.head()

                                              review  sentiment
0  Once again Mr. Costner has dragged out a movie...          0
1  This is an example of why the majority of acti...          0
2  First of all I hate those moronic rappers, who...          0
3  Not even the Beatles could write songs everyon...          0
4  Brass pictures (movies is not a fitting word f...          0

In [6]:
df = df2.reset_index(drop=True) ##인덱스 리셋
df.head()

                                              review  sentiment
0  Once again Mr. Costner has dragged out a movie...          0
1  This is an example of why the majority of acti...          0
2  First of all I hate those moronic rappers, who...          0
3  Not even the Beatles could write songs everyon...          0
4  Brass pictures (movies is not a fitting word f...          0

In [7]:
df.shape #데이터 전체 확인

(50000, 2)

In [8]:
import re ##regular expression 적용

# <br> html 태그는 replace 함수로 공백으로 변환
df['review'] = df['review'].str.replace('<br />',' ')

# 파이썬의 정규 표현식 모듈인 re를 이용하여 영어 문자열이 아닌 문자는 모두 공백으로 변환 
df['review'] = df['review'].apply( lambda x : re.sub("[^a-zA-Z]", " ", x) )

In [9]:
from sklearn.model_selection import train_test_split ##train_test 스플릿을 위한 패키지 임포트

class_df = df['sentiment']
feature_df = df.drop(['sentiment'], axis=1, inplace=False)

X_train, X_test, y_train, y_test= train_test_split(feature_df, class_df, test_size=0.3, random_state=156)

X_train.shape, X_test.shape

((35000, 1), (15000, 1))

In [10]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score

# 스톱 워드는 English, filtering, ngram은 (1,2)로 설정해 CountVectorization수행. 
# LogisticRegression의 C는 10으로 설정. 
pipeline = Pipeline([
    ('cnt_vect', CountVectorizer(stop_words='english', ngram_range=(1,2) )),
    ('lr_clf', LogisticRegression(C=10))])

# Pipeline 객체를 이용하여 fit(), predict()로 학습/예측 수행. predict_proba()는 roc_auc때문에 수행.  
pipeline.fit(X_train['review'], y_train)
pred = pipeline.predict(X_test['review'])
pred_probs = pipeline.predict_proba(X_test['review'])[:,1]

print('예측 정확도(Accuracy)는 {0:.4f}, ROC-AUC는 {1:.4f}'.format(accuracy_score(y_test ,pred),
                                         roc_auc_score(y_test, pred_probs)))

C:\Users\tkim29\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

예측 정확도(Accuracy)는 0.8962, ROC-AUC는 0.9579

In [11]:
# 스톱 워드는 english, filtering, ngram은 (1,2)로 설정해 TF-IDF 벡터화 수행. 
# LogisticRegression의 C는 10으로 설정. 
pipeline = Pipeline([
    ('tfidf_vect', TfidfVectorizer(stop_words='english', ngram_range=(1,2) )),
    ('lr_clf', LogisticRegression(C=10))])

pipeline.fit(X_train['review'], y_train)
pred = pipeline.predict(X_test['review'])
pred_probs = pipeline.predict_proba(X_test['review'])[:,1]

print('예측 정확도는 {0:.4f}, ROC-AUC는 {1:.4f}'.format(accuracy_score(y_test ,pred),
                                         roc_auc_score(y_test, pred_probs)))

C:\Users\tkim29\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

예측 정확도는 0.8997, ROC-AUC는 0.9644

In [24]:
##Keras를 활용한 imdb dataset 감성분석
from keras.datasets import imdb
(X_train, y_train), (X_test, y_test) = imdb.load_data(num_words=10000)

In [25]:
print('훈련 데이터: {}'.format(len(X_train)))
print('테스트 데이터: {}'.format(len(X_test)))
num_classes = max(y_train) + 1
print('카테고리: {}'.format(num_classes))

훈련 데이터: 25000
테스트 데이터: 25000
카테고리: 2

In [26]:
print(X_train[0])
print(y_train[0])

[1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, 458, 4468, 66, 3941, 4, 173, 36, 256, 5, 25, 100, 43, 838, 112, 50, 670, 2, 9, 35, 480, 284, 5, 150, 4, 172, 112, 167, 2, 336, 385, 39, 4, 172, 4536, 1111, 17, 546, 38, 13, 447, 4, 192, 50, 16, 6, 147, 2025, 19, 14, 22, 4, 1920, 4613, 469, 4, 22, 71, 87, 12, 16, 43, 530, 38, 76, 15, 13, 1247, 4, 22, 17, 515, 17, 12, 16, 626, 18, 2, 5, 62, 386, 12, 8, 316, 8, 106, 5, 4, 2223, 5244, 16, 480, 66, 3785, 33, 4, 130, 12, 16, 38, 619, 5, 25, 124, 51, 36, 135, 48, 25, 1415, 33, 6, 22, 12, 215, 28, 77, 52, 5, 14, 407, 16, 82, 2, 8, 4, 107, 117, 5952, 15, 256, 4, 2, 7, 3766, 5, 723, 36, 71, 43, 530, 476, 26, 400, 317, 46, 7, 4, 2, 1029, 13, 104, 88, 4, 381, 15, 297, 98, 32, 2071, 56, 26, 141, 6, 194, 7486, 18, 4, 226, 22, 21, 134, 476, 26, 480, 5, 144, 30, 5535, 18, 51, 36, 28, 224, 92, 25, 104, 4, 226, 65, 16, 38, 1334, 88, 12, 16, 283, 5, 16, 4472, 113, 103, 32, 15, 16, 5345, 19, 178, 32]
1

In [27]:
word_index = imdb.get_word_index()
index_to_word={}
for key, value in word_index.items():
    index_to_word[value] = key

In [28]:
print(index_to_word[1])

the

In [29]:
print(index_to_word[3941])

journalist

In [30]:
print(' '.join([index_to_word[x] for x in X_train[0]]))

the as you with out themselves powerful lets loves their becomes reaching had journalist of lot from anyone to have after out atmosphere never more room and it so heart shows to years of every never going and help moments or of every chest visual movie except her was several of enough more with is now current film as you of mine potentially unfortunately of you than him that with out themselves her get for was camp of you movie sometimes movie that with scary but and to story wonderful that in seeing in character to of 70s musicians with heart had shadows they of here that with her serious to have does when from why what have critics they is you that isn't one will very to as itself with other and in of seen over landed for anyone of and br show's to whether from than out themselves history he name half some br of and odd was two most of mean for 1 any an boat she he should is thought frog but of script you not while history he heart to real at barrel but when from one bit then have two of script their with her nobody most that with wasn't to with armed acting watch an for with heartfelt film want an

In [37]:
##LSTM으로 모델링
from keras.models import Sequential
from keras.layers import Dense, LSTM, Embedding
from keras.preprocessing import sequence

In [59]:
X_train = sequence.pad_sequences(X_train, maxlen=10000)
X_test = sequence.pad_sequences(X_test, maxlen=10000)

In [60]:
model = Sequential()
model.add(Embedding(10000, 120))
model.add(LSTM(120))
model.add(Dense(1, activation='sigmoid'))

In [41]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=5, batch_size=64)
scores = model.evaluate(X_test, y_test, verbose=0) # 테스트 데이터에 대해서 정확도 평가
print("정확도: %.2f%%" % (scores[1]*100))

Train on 25000 samples, validate on 25000 samples
Epoch 1/5
25000/25000 [==============================] - 494s 20ms/step - loss: 0.4423 - acc: 0.7883 - val_loss: 0.3871 - val_acc: 0.8305
Epoch 2/5
25000/25000 [==============================] - 497s 20ms/step - loss: 0.2773 - acc: 0.8893 - val_loss: 0.4568 - val_acc: 0.7820
Epoch 3/5
25000/25000 [==============================] - 494s 20ms/step - loss: 0.2069 - acc: 0.9216 - val_loss: 0.3516 - val_acc: 0.8711
Epoch 4/5
25000/25000 [==============================] - 492s 20ms/step - loss: 0.1544 - acc: 0.9435 - val_loss: 0.3762 - val_acc: 0.8517
Epoch 5/5
25000/25000 [==============================] - 496s 20ms/step - loss: 0.1586 - acc: 0.9398 - val_loss: 0.4057 - val_acc: 0.8566
정확도: 85.66%